%h3 New Donation Submission
= simple_form_for(@donation, html: {class: 'form'}) do |f|
  .row
    .col-sm-6.col-xs-12
      = f.association :user, as: :select, collection: @coordinator
      .panel.panel-info
        .panel-body
          .col-sm-6
            = label_tag "Pending Cash Amount", nil, id: "pending_cash_amount"
          .col-sm-6
            = label_tag "Pending Cheque Amount", nil, id: "pending_cheque_amount"
  .row
    .col-sm-6.col-xs-12
      = f.input :submitted_by_cash, label: 'Cash Submitted'
  .row
    .col-sm-6.col-xs-12
      = f.input :submitted_by_cheque, label: 'Cheque Submitted'
  .row
    .col-sm-6.col-xs-12
      = f.input :submission_date
  %br
  %br
  .row
    .col-md-2
      = f.submit :save, class: 'btn btn-primary'
