%h1 Change password
= simple_form_for @user, url: update_password_path , method: :post do |f|
  .form-inputs
    = f.input :current_password, as: :password, label: "Old password"
    = f.input :password, label: "New password"
    = f.input :password_confirmation, label: "Confirm password"
  .form-actions
    = f.button :submit, "Change password"
    = link_to "Cancel", root_path
