= simple_form_for @user do |f|
  .form-inputs
    = f.input :name, label: "Name"
    = f.input :company_name, label: "Company name"
    =f.input :contact_number, label: "Contact number"
    = f.input :credit_limit, label: "Credit limit", disabled: can_edit(@user.role)
    = f.input :total_collection_by_cash, label: "Total collection by cash", disabled: true
    = f.input :total_collection_by_cheque, label: "Total collection by cheque", disabled: true
  .form-actions
    = f.button :submit
