%h4
  = link_to "Create New user"
  %br
%table.table.table-stripped#user_index.display
  %thead
    %tr
      %th Name
      %th Email
      %th Role
      %th Company
      %th Actions
    %tbody
      - @user.each do |user|
        %tr
          %td
            = user.name
          %td
            = user.email
          %td
            = user.role
          %td
            = user.company_name
          %td
            .glyphicon-pencil
              = link_to "Edit", edit_user_path(user.id)

:javascript
  $("#user_index").dataTable({responsive: true})
