

%h4= t('.sign_up', :default => "Create User")
.panel-body
  = simple_form_for @user do |f|
    .row
      = f.input :name
    .row
      = f.input :company_name
    .row
      = f.input :contact_number
    .row
      = f.input :email
    .row
      - if current_user.is_super_admin?
        = f.input :role, collection: assign_role(current_user)
      - else
        = f.input :role, input_html: {value: User::Roles[2], readonly: true} 
    = f.submit t('.sign_up', :default => "create"), class: "btn btn-primary"
