%h3 New Donation
= simple_form_for(@donation, html: {class: 'form'}) do |f|
  .row
    .col-sm-6.col-xs-12
      = f.input :name, label: 'Name'
  .row
    .col-sm-6.col-xs-12
      = f.input :email, label: 'Email'
  .row
    .col-sm-6.col-xs-12
      = f.input :mobile_number, label: 'Mobile Number', placeholder: "Mobile Number (10 digits, no 0 or +91)"
  .row
    .col-sm-6.col-xs-12
      = f.input :amount, label: 'Amount'
  .row.payment_type
    .col-sm-6.col-xs-12
      = f.label 'Mode of Payment', class: 'right20'
      = f.input :by_cash, as: :radio_buttons, label: false, collection: [['By Cash', true], ['By Cheque', false]], label_method: :first, value_method: :last, input_html: {id: :by_cash_radio }
  .cheque_info.indent{:class => f.object.by_cash == true ? 'hidden' : ''}
    .row
      .col-sm-6.col-xs-12
        = f.input :bank, label: 'Bank Name'
    .row
      .col-sm-6.col-xs-12
        = f.input :cheque_number, label: 'Cheque Number'
    .row
      .col-sm-6.col-xs-12
        = f.input :cheque_date, label: 'Cheque Date(dd/mm/yyyy)' 
  %br
  .row.center-block
    .col-md-2
      = f.submit 'Submit Donation', class: 'btn btn-primary'
  %br
  %br
