- if current_user.is_admin?
  = button_to "Export To CSV", coordinator_collections_reports_path, :class => "btn btn-success export"
.bs-collection
  %table.table.table-hover
    %thead
      %tr
        %th Date
        %th Donor Name
        %th Donor Email
        %th Donor Mobile
        %th Amount
        %th Cash/Cheque
        %th Cheque Date
        %th Cheque No
        %th Bank
    %tbody
      - @collections.to_a.each do |collection|
        - payment_mode = collection.by_cash ? 'Cash' : 'Cheque'
        %tr
          %td= collection.created_at.to_date
          %td= collection.name
          %td= collection.email
          %td= collection.mobile_number
          %td= collection.amount
          %td= payment_mode
          %td= collection.cheque_date
          %td= collection.cheque_number
          %td= collection.bank
