.bs-pending
  %table.table.table-hover
    %tr
      %th
        Cash
      %th 
        Cheque
      %th
        Co-ordinator
      %th
        Co-ordinator Contact
      %th
        Co-ordinator Email
    - @users.each do |user|
      - next unless user.has_pending_amount?
      %tr 
        %td= user.cash_amount_pending 
        %td= user.cheque_amount_pending
        %td= user.display_name
        %td= user.contact_number
        %td= user.email
