.bs-pending
  %table.table.table-hover
    %tr
      %th
        Cash
      %th 
        Cheque
      %th
        Co-ordinator
      %th
        Co-ordinator Contact
      %th
        Co-ordinator Email
    - @pendings.each do |submission|
      %tr 
        %td= submission.user.cash_amount_pending 
        %td= submission.user.cheque_amount_pending
        %td= submission.user.display_name
        %td= submission.user.contact_number
        %td= submission.user.email
