.bs-pending
  %table.table.table-hover
    %tr
      %th
        Cash
      %th 
        Cheque
      %th 
        Submission Date
      %th
        Submited By
      %th 
        Received By
    - @pendings.each do |submission|
      %tr 
        %th= submission.user.cash_amount_pending 
        %th= submission.user.cheque_amount_pending
        %th= submission.submission_date
        %th= submission.user.name
        %th= current_user.name
