.bs-pending
  %table.table.table-hover
    %tr
      %th
        Cash
      %th 
        Cheque
      %th 
        Submission Date
      %th
        Submited By
      %th 
        Status/Received By
    - @pendings.each do |submission|
      %tr 
        %td= submission.user.cash_amount_pending 
        %td= submission.user.cheque_amount_pending
        %td= submission.submission_date
        - sub_display_name = submission.user.name.nil? ? submission.user.email : submission.user.name
        %td= sub_display_name
        - if submission.new_record?
          - rec_display_name = '*Initial Pending'
        - else
          - rec_display_name = submission.received_by.name.nil? ? submission.received_by.email : submission.received_by.name
        %td= rec_display_name