.bs-submissions
  %table.table.table-hover
    %tr
      %th
        Cash
      %th 
        Cheque
      %th 
        Submission Date
      %th
        Submited By
      %th 
        Received By
    - @submissions.each do |submission|
      %tr 
        %td= submission.submitted_by_cash
        %td= submission.submitted_by_cheque
        %td= submission.submission_date
        %td= submission.user.display_name
        %td= submission.received_by.display_name
