.bs-submissions
  %table.table.table-hover
    %tr
      %th
        Cash
      %th 
        Cheque
      %th 
        Submission Date
      %th
        Submited By
      %th 
        Received By
    - @submissions.each do |submission|
      %tr 
        %th= submission.submitted_by_cash
        %th= submission.submitted_by_cheque
        %th= submission.submission_date
        - sub_display_name = submission.user.name.nil? ? submission.user.email : submission.user.name
        %th= sub_display_name
        - rec_display_name = current_user.name.nil? ? current_user.email : current_user.name
        %th= rec_display_name
