.bs-pending
  %table.table.table-hover
    %tr
      %th
        Cash
      %th 
        Cheque
      %th 
        Submission Date
      %th
        Submited By
      %th 
        Received By
    %tr 
      %th= @pending_by_cash 
      %th= @pending_by_cheque
      %th= @submission.submission_date
      %th= @submission.user.email
      %th= current_user.email
