%nav.navbar.navbar-default.navbar-fixed-top
  .container
    .navbar-header
      %button.navbar-toggle.collapsed{'aria-controls' => 'navbar', 'aria-expanded' => 'false', 'data-target' => '#navbar', 'data-toggle' => 'collapse', :type => 'button'}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.navbar-brand{:href => '/'} Seva Sahayog Donations 
    #navbar.navbar-collapse.collapse
      %ul.nav.navbar-nav.navbar-right
        %li
          = link_to "Make New Donation", new_donations_path
        %li.dropdown
          %a.dropdown-toggle{:href => "#", "role" => "button", "data-toggle" => "dropdown", "data-target" => "#"} 
            Reports
            %b.caret
            %ul.dropdown-menu{"role" => "menu"}
              - if current_user.is_admin?
                %li= link_to 'Collection', coordinator_collections_reports_path
                %li= link_to 'Submission', submissions_reports_path
                %li= link_to 'Pending', pendings_reports_path
              - else
                %li= link_to 'Collection', coordinator_collections_reports_path
                %li= link_to 'Submission', coordinator_submissions_reports_path
        %li
          = link_to "Sign out", destroy_user_session_path, :method => :delete
        
